<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#"><img src="assets/Store.jpeg" id="storeImg"></a>

    <div class="collapse navbar-collapse center" id="mainNavBar">
        <ul class="navbar-nav mr-auto align-items-center">
            <li>
                <a class="nav-link" href="#"><img src="assets/download.png" id="cartImg"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" id="home">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="profile" routerLink="/profile">Profile </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/About-us" id="about">About us</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto align-items-center">
            <img src="assets/eagleTest.png" id="eagleImg">
            <p>digi Product</p>
            <img src="assets/eagleTest.png" id="eagleImg">
        </ul>
        <a class="nav-link active" id="signINUP" routerLink="/sign-in"><span>SignUp/SignIn</span></a>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success  my-2 my-sm-0" type="button">Search</button>
        </div>
    </div>
</nav>