.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-icon{
    margin-left: 540px;
}

mat-expansion-panel {
    width: 90%;
    height: 150%;
}

#matChange{
    padding-top: 18px;
    margin-left: 110px;
}