<div class="container">
  <div id="matChange">
    <mat-accordion class="example-headers-align center">
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'70px'">
          <mat-panel-title>
           Your Email         
          </mat-panel-title>
          <mat-panel-description> 
            <mat-icon>mail_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="primary" (click)="nextStep()">Save</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'70px'">
          <mat-panel-title>
            Password
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>vpn_key</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

       
        <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="primary" (click)="nextStep()">Save</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>