<div class="row" id="mainRow">
    <div class="col-md-6">
        <img src="assets/header.jpeg" id="aboutUsImg">
        <div class="col-md-10">
            <br>
            <br>
            <p>Digikala is one of the Iranian startups that benefit from the country's increasing digitization. By 2017, 62% of Iran's households have been connected to the Internet and this development is driving demand for Internet services that mirror
                Western digital platforms such as Amazon. Digikala is ranked by Alexa as Iran's 3rd most visited website. It is also the largest e-commerce platform in the Middle East. It has 1,700,000 unique visitors per day, and 85% of Iran's ecommerce
                now takes place on Digikala. The company does not publicise its revenue but has said sales are growing at a rate of 200% a year, and that it is receiving orders from even the most remote villages in Iran. Hamid Mohammadi said the main
                focus of the company remains expansion "even if that means we will not be profitable, which is how Amazon is operating”. Iran's economic volatility has forced Digikala to layoff 175 workers in 2018. To survive, it adopted several initiatives
                such as the pay-per-sale strategy which allow users - as affiliates - to receive commission if a directed customer purchased a product.On March 2019, Digikala also addressed the issue authenticity of products in the platform after receiving
                complaints over the quality of goods being sold. In a statement, it stated that only 0.2% of the 1.2 million products are unoriginal and that the company has taken steps to implement stringent quality control.</p>
        </div>
    </div>
    <div class="row">
        <div class="contact-info" id="contactUsHeader">
            <div class="jumbotron jumbotron-sm">
                <div class="container">
                    <div class="row" id="contactUsRow">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
            <h2>Contact Us</h2>
            <h4>We would love to hear from you !</h4>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <div class="form-group">
                    <label class="control-label" for="fname">First Name:</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                </div>
                <div class="form-group">
                    <label class="control-label" for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label class="control-label" for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>