.row {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

#contactUsHeader {
    margin-bottom: 10x;
}

h1 {
    font: 30px bold;
}

.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 10px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}