footer {
    border-top: 2.4px solid rgb(123, 221, 180);
    padding-top: 20px;
    margin-top: 20px;
    background-color: rgb(41, 39, 39);
    
}
p {
    color: gold;

}
h6{
    color: white;
}
a{

    color: rgb(248, 68, 68);
}