<nav class="navbar navbar-expand-lg navbar-light  text-warning" id="navbar">
    <a class="navbar-brand" href="#"><img src="assets/Store.png" id="storeImg"></a>

    <div class="collapse navbar-collapse center" id="mainNavBar">
        <ul class="navbar-nav mr-auto align-items-center">
            <li>
                <a class="nav-link" href="#"><img src="assets/download.png" id="cartImg"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-warning" routerLink="/home" id="home">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-warning" href="#" id="profile" routerLink="/profile">Profile </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-warning" routerLink="/About-us" id="about">About us</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto align-items-center">
            <img src="assets/shopping-bag.png" id="eagleImg">
            <p>Digi Product</p>
            <img src="assets/shopping-bag.png" id="eagleImg">
        </ul>
        <a class="nav-link active text-warning" id="signINUP" routerLink="/sign-in" *ngIf="!signedIn(); else mmd"><span>SignUp/SignIn</span></a>
        <ng-template #mmd>
            <a class="nav-link active text-warning" id="signINUP" (click)="onLogOut()" id="mmdLink"><span>logout</span></a>
        </ng-template>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success  my-2 my-sm-0" type="button">Search</button>
        </div>
    </div>
</nav>

<!-- Icons made by https://www.flaticon.com -->