#navbar {
    border: 2.4px gold;
    border-top: none;
    background-color: black;
}

#storeImg {
    width: 100px;
    margin-right: 40px;
}

#cartImg {
    width: 50px;
}

#eagleImg {
    width: 60px;
}

p {
    margin: 20px;
    font: 30px bold;
}

#home {
    margin-left: 15px;
}

#signINUP{
    color: black;
}

#mmdLink{
    cursor: pointer;
}

