<div class="grid-container">
    <div class="grid-items" *ngFor="let product of products;">
        <a href="#" id="nameTag">
            <img [src]="product.imgUrl">
            <br>
            <span>{{ product.name }}</span>
        </a>
        <div class="text-right">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <a  class="fa fa-star checked" href="#"></a>
                <a  class="fa fa-star checked" href="#"></a>
                <a  class="fa fa-star checked" href="#"></a>
                <a  class="fa fa-star checked" href="#"></a>
                <a  class="fa fa-star checked" href="#"></a>
            <a><img id="cartPlus" src="assets\cart-plus.png"></a>
        </div>
        <br>
        <div class="text-left">
            <span id="ProPrice">{{ product.price }} <span id="Price">$</span></span>
        </div>
    </div>
</div>