
.row {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px
    
    
  }

  .grid-items{
      text-align: center;
      padding-top: 20px;
      border: 1px groove #ebebeb;
      padding-bottom: 10px;
      
    }

    #nameTag{
        margin-top: 30px;
        margin-bottom: 10px; 
        font-style: italic;
        font-size: 25px;
        color: black;
        text-decoration: none;
        
    }

    img{
        width: 250px;
        height: 200px;
        margin-bottom: 20px;
    }
    
    #cartPlus{
       width: 40px;
       height: 40px;
       margin-right: 20px;
       margin-left: 280px;
       cursor: pointer;
    }

    .checked{
        color: orange;
        text-decoration: none;
    }

    #ProPrice{
        font: 28px bold black;
        margin-left:20px;
    }

    #Price{
        font-size: 25px;
        color: #997a00;
    }



    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding-left: 10px;
        position: absolute;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }